/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--ff-family: "Inter", sans-serif;
	--clr-primary: hsl(277, 64%, 61%);
	--clr-darkblue: hsl(244, 38%, 16%);
	--clr-background: hsl(233, 47%, 7%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-lightwhite: hsla(0, 0%, 100%, 0.75);
}

body {
	font-family: var(--ff-family);
	font-size: 15px;
	background-color: var(--clr-background);
}

p {
	font-family: "Lexend Deca";
	font-size: 0.93em;
	line-height: 2em;
}

/* Reusable CSS Class */
.white {
	color: var(--clr-white);
}

.light-white {
	color: var(--clr-lightwhite);
}

.container {
	margin: 5%;
	max-width: 56em;
}

.card {
	overflow: hidden;
	border-radius: 10px;
	background-color: var(--clr-darkblue);
	-webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card__title {
	margin: 0;
	font-size: 1.8em;
}

.card__accent {
	color: var(--clr-primary);
}

.card__content,
.card__image {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.card__image {
	background-color: var(--clr-primary);
}

.card__content {
	padding: 2em 2em 0;
	text-align: center;
}

.card__text {
	margin: 2em 0;
}

.card__stats {
	margin: 2em 0;
	text-transform: uppercase;
	line-height: 2.5em;
	font-size: 11px;
	letter-spacing: 0.2em;
}

.card__stats strong {
	display: block;
	font-size: 24px;
}

img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
	mix-blend-mode: multiply;
}

.attribution {
	display: none;
}

/* Use of Media Queries */
@media only screen and (min-width: 900px) {
	body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		height: 100vh;
		margin: 0 5%;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.container {
		max-width: 74em;
		margin: 0 auto;
	}

	.card {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: minmax(200px, 570px) minmax(200px, 540px);
		grid-template-columns: minmax(200px, 570px) minmax(200px, 540px);
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.card__title {
		font-size: 2.4em;
		line-height: 1.2em;
		letter-spacing: 0.01em;
	}

	.card__image {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	.card__content {
		padding: 8% 12%;
		text-align: left;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 1em;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.card__text {
		margin: 2em 0;
		padding-right: 16%;
	}

	.card__footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.card__stats {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	.attribution {
		display: block;
		position: fixed;
		bottom: 0;
		right: 2em;
		margin: 2em auto;
		color: var(--clr-lightwhite);
		font-size: 11px;
		text-align: center;
	}

	.attribution a {
		color: var(--clr-white);
	}
}
